<header class="header" id="header">
  <div class="container">
    <div class="df-row">
      <div class="brand">
        <h3>Main project</h3>
      </div>
      <div class="controls">
        <a routerLink="/signIn" class="controls__btn signIn base-btn">SignIn</a>
        <a routerLink="/signUp" class="controls__btn signUp base-btn">SignUp</a>
        <a routerLink="/posts" class="controls__btn posts base-btn">Posts</a>
        <a routerLink="/signIn" class="controls__btn logout base-btn" (click)="userLogout()">Logout</a>
      </div>
    </div>
  </div>
</header>
